body { 
  text-align:center;
 }

#drag{ 
  background-color:yellow;
  width:400px;
  height:250px;
  margin-left:auto;
  margin-right:auto;
 }

#drop{ 
  background-color:red;
  width:400px;
  height:250px;
  margin-left:auto;
  margin-right:auto;
 }

