Profile

<% if session[:login]%>
  <%= session[:screen_name] %>
  <%= session[:uid]%>
  <img src="<%=session[:thumbnailUrl]%>"/>
  <a href="/logout">ログアウト</a>
<form method="post" action="/submit">
タイトル:<input type="text" name="title" size="40"/></br>
本文:</br>
<textarea name="main" rows="50" cols="50"></textarea></br>
<div id='drop'>
Image1:<INPUT type="text" id="photo1" size="50"><br>
Image2:<INPUT type="text" id="photo2" size="50"><br>
Image3:<INPUT type="text" id="photo3" size="50"><br>
</div>
<input type="submit" value="送信" /></br>
</form>

<script type="text/javascript">
var image_num=0;
  $('.target').each(function(){
    $(this).draggable(
    );
  });

$('#drop').droppable(
  {accept: '.target',
   drop:   function(e, ui) {
    if(image_num<3){
     image_num++;
     document.getElementById("photo" + image_num).value=e.target.src;
    } else {
     alert('４枚以上は添付できません');
    }

   }
  });
</script> 

<% else %>
  <a href="/login">ログイン</a>
<% end %>

