Profile

<% if session[:login]%>
  <%= session[:screen_name] %>
  <%= session[:uid]%>
  <img src="<%=session[:thumbnailUrl]%>"/>
  <a href="/logout">ログアウト</a>
<form method="post" action="/submit">
タイトル:<input type="text" name="title" size="40"/></br>
本文:</br>
<textarea name="main" rows="50" cols="50"></textarea></br>
<div id='drop'>
Image1:<INPUT type="text" id="photo1" size="50"><br>
Image2:<INPUT type="text" id="photo2" size="50"><br>
Image3:<INPUT type="text" id="photo3" size="50"><br>
</div>
<input type="submit" value="送信" /></br>
</form>
<% else %>
  <a href="/login">ログイン</a>
<% end %>

